$white: #ffffff;
$gray: #c7c7cc;
$graphit: #1c1c1e;
$green: #bcff5e;
$blue: #064bb4;
$darkBlue: #08172d;
$grey: #ffffff1f;
$whiteGray: #f9f9fb;
$black: #000000;
$grayScale30: #d1d1d6;
$grayScale50: #8e8e93;
$grayScale60: #636366;
$grayScale40: #aeaeb2;
$grayScale20: #e9ebed;
